/*
 * Base structure
 */

 /* Move down content because we have a fixed navbar that is 3.5rem tall */
 body {
  padding-top: 3.5rem;
}

/*
 * Typography
 */

 h1 {
  padding-bottom: 9px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

 .sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
 .placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}


.hadcursor {
  cursor: pointer;

}

.Checkbox-Switch > input[type="checkbox"] {
  display: none;   
}

.Checkbox-Switch > label {
  cursor: pointer;
  height: 0px;
  position: relative; 
  width: 40px;  
}

.Checkbox-Switch > label::before {
  background: rgb(170, 170, 170);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  content: '';
  height: 16px;
  margin-top: -8px;
  position:absolute;
  opacity: 0.6;
  transition: all 0.4s ease-in-out;
  width: 40px;
}
.Checkbox-Switch > label::after {
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: '';
  height: 24px;
  left: -4px;
  margin-top: -8px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 24px;
}
.Checkbox-Switch > input[type="checkbox"]:checked + label::before {
  background: inherit;
  background-color: #13E868;

}
.Checkbox-Switch > input[type="checkbox"]:checked + label::after {
  background: inherit;
  left: 20px;
  background-color: #13E868;

}

.add-button{
  z-index: 100; 
  position: fixed;
  right: 12px; 
  bottom: 12px;
  padding: 0.5rem 1.0rem;
  font-size: 2.0rem;
}


.btn-outline-light.active, .btn-outline-light:active, .show>.btn-outline-light.dropdown-toggle {
  color:#000;
}

.btn-outline-light.hover, .btn-outline-light:hover, .show>.btn-outline-light.dropdown-toggle {
  color:#000;
}

.clickable{
  cursor: pointer;
}

.btn-dark.focus, .btn-dark:focus {
  box-shadow: none;
}

.btn-light.focus, .btn-light:focus{
  box-shadow: none;
}